/* Estilização geral da página */
.main{
    max-width: 1200px;/* Largura máxima da página */
    height: 1200px;
    background-color: lightgray;/* Cor do fundo da página */
    margin: 0 auto;/* Centraliza a página */
    
}

.topo{
    width: 100%;/* A div topo está utilizando 100%(1200px) da largura da página */
    height: 170px;/* A altura do cabeçalho */
}

.logo img{
    width: 150px;/* Largura da imagem */
    height: 150px;/*  Altura da imagem  */
}
.logo{
    margin-top: 10px;
    float: left;
}

.titulo{
    font-size: 7em;/* Tamanho a fonte do título */
    width: 1050px;
    float: left;/* Joga o título para o lado esquerdo e deixa o login ficar ao lado direito do título */
    text-align: center;
    line-height: 170px;
}

.cadastro{
    margin-top: 200px;
    margin-left: 350px;
}

.corpo{
    margin-left: 350px;
}
