body{
	text-align: center;/*Alinhamento do texto*/
	background-color: #ccc;/*Cor de fundo da página*/
    height: 100%;/*Altura do corpo da página*/
    width: 70%;/*Largura da página*/
	margin: 0 auto;
}
.logo{
	float: left;/*Deixa o titulo do lado da logo*/
}
.titulo{
	padding: 0.5% 20% 0.5% 27%;/*Borda interna do titulo*/
	font-size: 4em;/*Tamanho da fonte (responsivo)*/
	float: left;
}
.menu ul li{
	padding: 0%;
    background-color: #000;/*Define a cor de fundo dos links*/
    color: #fff;
	float: left;/*Deixa todos os itens na mesma linha*/
	width: 13%;/*Largura do menu*/
    text-decoration: none;/*Tirando sublinhado do link*/
    list-style: none;/*Tirando o estilo da lista*/
    text-align: center;/*Alinhamento do texto dos links*/
    line-height: 200%;/*Tamanho da linha do menu*/
	font-size: 1.3em;/*Tamanho da letra*/
}
.menu ul li:hover{
	/* Cor dos botões com o mouse em cima */
    background-color: #fff;
    color: #000;
}
.pesquisa input{
	/* Campo de pesquisa */
	border:0px solid #222;
    background-color:#aaa;
    width:15.5%;
	height: 2.3em;
    margin:0 auto;
    padding:0.5% 0 0.4% 0.5%;
}
/* Botão de pesquisa */
.pesquisa button{
	text-align: center;
	border:0px solid #222;
	height:40px;
	width: 6%;
    margin:0 auto;
    padding:0.5% 0 0.4% 0.5%b;
	float:left;
	transition: background-color 1s;
}
.pesquisa button:hover{
	background-color: #000;
	color: #fff;
	cursor: pointer;
}
.conto_semanal{
	border: #000 solid 1px;
	float: left;
	width: 30%;
	height: 100%;
	text-align: left;
	padding-bottom:27.6%; 
}
.artigos article p{
	border: #000 solid 1px;
	width: 69.6%;
	float: right;
}
footer{
	border: #000 solid 1px;
	height: 100%;
	width: 100%;
	float: left;
}
.mapa_site{
	float: left;
	padding: 12% 12% 12% 12%;
	border: #000 solid 1px;
}
.criadores{
	float: left;
	padding: 0% 12% 12% 12%;
	border: #000 solid 1px;
	margin: 0 auto;
}
.criadores h1{
	font-size: 1em;
}
.criadores a{
	text-decoration: none;
}
.criadores ul{
	
	border: #000 solid 1px;
}
.feedback{
	float: left;
	padding: 12%;
	border: #000 solid 1px;
}
